<utils-nav></utils-nav>
<div class="container">
    <form>
        <div class="form-group">
            <div class="row">
                <form-item></form-item>
                <input type="number" class="col-md-3 form-control" id="fivecent" placeholder="Quantité de 5c">
                <p class="col-md-3"></p>
                <p class="col-md-3">test</p>
                <p class="col-md-3">test</p>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <input type="number" class="col-md-3 form-control" id="10cent" placeholder="Quantité de 10c">
            </div>
        </div>
        <div class="form-group">
            <div class="row">

                <input type="number" class="col-md-3 form-control" id="25cent" placeholder="Quantité de 25c">
            </div>
        </div>
        <div class="form-group">
            <div class="row">

                <input type="number" class="col-md-3 form-control" id="1dol" placeholder="Quantité de 1$">
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <input type="number" class="col-md-3 form-control" id="2dol" placeholder="Quantité de 2$">
            </div>
        </div>
        <div class="form-group">
            <div class="row">

                <input type="number" class="col-md-3 form-control" id="5dol" placeholder="Quantité de 5$">
            </div>
        </div>
        <div class="form-group">
            <div class="row">

                <input type="number" class="col-md-3 form-control" id="10dol" placeholder="Quantité de 10$">
            </div>
        </div>
        <div class="form-group">
            <div class="row">

                <input type="number" class="col-md-3 form-control" id="20dol" placeholder="Quantité de 20$">
            </div>
        </div>
        <div class="form-group">
            <div class="row">

                <input type="number" class="col-md-3 form-control" id="50dol" placeholder="Quantité de 50$">
            </div>
        </div>
        <div class="form-group">
            <div class="row">

                <input type="number" class="col-md-3 form-control" id="100dol" placeholder="Quantité de 100$">
            </div>
        </div>
        <div  (click)="calculate()" class="btn btn-primary">Submit</div>
    </form>
</div>